<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Schedule Monster Back-Server</title>
  </head>
  <body>
    <h1>Schedule Monster Back Server</h1>
    <p>Server is running Status : Normal</p>
  </body>
</html>
